@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  background: #1B1B1B /*linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )*/
    rgb(var(--background-start-rgb));
}

::selection {
  background-color: #38d93dd7; /* Substitua pela cor desejada */
  color: #ffffff; /* Cor do texto selecionado */
}

@keyframes float {
  0%, 100% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, -7px);
  }
}

.animate-float {
  animation: float 5s infinite;
}

